@import "../scss/header.scss";

.TestQuiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $diamond-color;
    width: 100vw;
    height: 100vh;
    .level {
        top: 10%;
        position: relative;
        background-color: $secondary-color;
        width: 70%;
        height: 0.5rem;
        border-radius: 10px;
        .level-bar-fill {
            position: absolute;
            border-radius: 10px;
            left: 0;
            height: 100%;
            background-color: $primary-color;
        }
    }
    .question {
        position: absolute;
        top: 30%;
        width: 50%;
        text-align: center;
    }
    // .QCMCards {

    // }
    form {
        position: absolute;
        top: 50%;
        textarea {
            width: 60vw;
            height: 5vw;
            background: $primary-color;
            color: $diamond-color;
            padding: 1.125rem;
            border-radius: 0.625rem;
        }
    }
    .btn {
        position: absolute;
        top: 70%;
        width: 10.44rem;
        height: 3rem;
        background-color: transparent;
        border-radius: 0.625rem;
        border: 3px solid $secondary-color;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $secondary-color;
        font-size: 1.5rem;
    }
    .btn:hover {
        background: $secondary-color;
        color: $diamond-color;
    }
}