@import "./header.scss";

body {
  margin: 0 auto;
  background-color: #F5F5F5;
  color: #F5F5F5;
  .logo {
      cursor: pointer;
      z-index: 1;
      font-family: 'Mogra', cursive;
      font-size: 1.75rem;
      position: absolute;
      top: 0.5rem;
      left: 1rem;
      color: #212121;
      span {
          color: $primary-color;
      }
  }
}