@import "header.scss";

.modelView {
    display: flex;
    flex-direction: column;
    background: $diamond-color;
    width: 100vw;
    height: 100vh;
    .head {
        height: 15%;
        // background: red;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 4%;
        .testNow {
            width: 10.44rem;
            height: 3rem;
            background-color: transparent;
            border-radius: 0.625rem;
            border: 3px solid $secondary-color;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $secondary-color;
            font-size: 1.5rem;
        }
        .testNow:hover {
            background: $secondary-color;
            color: $diamond-color;
        }
    }
    .cover {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        .resources {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 5fr;
            grid-row-gap: 20px;
            grid-column-gap: 90px;
            width: 90%;
            height: 85%;
            .resCard {
                // background: blue;
                border-radius: 10px;
            }
            .CardTitle {
                display: flex;
                align-items: flex-end;
                font-size: 2.25rem;
                font-weight: 700;
                gap: 10px;
                img {
                    width: 1.6875rem;
                    height: 2.25rem;
                    margin-bottom: 6px;
                }
            }
            .recommendation {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .ytb-frame {
                    background: white;
                    width: 100%;
                    height: 70%;
                    display: flex;
                    flex-direction: column;
                    border-radius: 10px;
                    img {
                        border-radius: 10px;
                        width: 8.89325rem;
                        height: 2.2rem;
                    }
                    .ytb {
                        padding-left: 2rem
                    }
                }
                .article {
                    border-radius: 0 0 10px 10px;
                    width: 100%;
                    height: auto;
                    cursor: pointer;
                }
            }
            .feedback {
                background-color: $primary-color;
                color: $diamond-color;
                padding: 3rem;
                padding-top: 1rem;
                font-size: 2rem;
                font-weight: 500;
            }
        }
    }
}