@import "header.scss";

.modelView {
    display: flex;
    flex-direction: column;
    background: $diamond-color;
    width: 100vw;
    height: 100vh;
    .head {
        height: 15%;
        background: red;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 4%;
        .testNow {
            width: 7.1rem;
            height: 2.2rem;
            background-color: transparent;
            border-radius: 0.625rem;
            border: 3px solid $secondary-color;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $secondary-color;
        }
    }
    .cover {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        .resources {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 5fr;
            grid-row-gap: 20px;
            grid-column-gap: 90px;
            width: 90%;
            height: 85%;
            .resCard {
                background: blue;
                border-radius: 10px;
            }
            .recommendation {
                // background: green;
                // display: grid;
                .ytb-frame {
                    background: red;
                    width: 100%;
                    height: 70%;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    // .ytb {
                    //     // background: blue;
                    // }
                }

            }
        }
    }
}